.page {
  margin: 0 auto;
  font-family: $primary-font;
  background-color: #ffffff;
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  width: calc(100% - 40px);

}

.page__body {
  margin: 0 auto;
  font-family: $primary-font;
  width: 320px;
  min-height: 100%;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}
