.filter {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.filter__form {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.filter__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 20px;
    padding-right: 26px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding: 5px 30px 0 0;
    width: 318px;
  }
}

/* ===== БЛОК ЦЕНЫ ===== */
.filter__price {
  @media (min-width: $tablet-width) {
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.filter__text {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin: 0 0 30px;

  &--label {
    margin-bottom: 20px;
  }
}

/* ===== ПОЛЗУНОК ДИАПАЗОНА ЦЕН ===== */
.filter__range-bar {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2;
  margin-bottom: 35px;
}

.filter__range-strip {
  display: block;
  position: absolute;
  height: 4px;
  background-color: #9070ec;
}

.filter__range-mark {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 2px solid #9070ec;
  border-radius: 50%;
  background-color: #ffffff;
  top: -11px;
  cursor: pointer;

  &--left {
    left: -2px;
    top: -11px;
  }

  &--right {
    right: -2px;
    top: -11px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover::before {
    background-color: rgba(120, 89, 207, 0.25);
  }

  &:focus::before {
    background-color: rgba(120, 89, 207, 0.25);
  }

  &:active::before {
    background-color: #7859cf;
  }
}

/* ===== ИНПУТЫ ЦЕНЫ ===== */
.filter__input-wrapper {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.filter__input-price {
  font-family: $primary-font;
  box-sizing: border-box;
  width: 118px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #9070ec;
  color: #333333;
  padding: 8px 10px;
  text-align: center;
  appearance: none;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:active {
    border-color: #9070ec;
  }

  &:focus {
    border-color: #593cac;
    outline: none;
  }

  &::placeholder {
    color: #bdbdbd;
  }

  @media (min-width: $tablet-width) {
    width: 96px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }
}

.filter__price-stroke {
  display: block;
  width: 8px;
  height: 2px;
  background-color: #bdbdbd;
  margin: 0 18px;

  @media (min-width: $desktop-width) {
    margin: 0 20px;
  }
}

/* ===== БЛОК ТИПА МОЛОКА ===== */
.filter__milk {
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-left: -10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 10px;
  }
}

.filter__milk-list,
.filter__country-list {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin: 0;
  margin-bottom: 30px;
  padding: 0 0 0 34px;
}

.filter__milk-item,
.filter__country-item {
  position: relative;
  margin-bottom: 20px;
}

.filter__milk-item:not(:last-child) {
  margin-bottom: 20px;
}

/* ===== КАСТОМНЫЕ РАДИОКНОПКИ (МОЛОКО) ===== */
.filter__mark-circle {
  display: block;
  position: absolute;
  left: -34px;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: 2px solid #bdbdbd;
  border-radius: 50%;
  cursor: pointer;
}

/* Активное состояние радиокнопки */
.filter__input-milk:checked+.filter__mark-circle {
  border-color: #7859cf;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #7859cf;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Hover состояние радиокнопки */
.filter__input-milk:hover+.filter__mark-circle {
  border-color: #9070ec;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: rgba(120, 89, 207, 0.25);
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* ===== DISABLED СОСТОЯНИЕ РАДИОКНОПОК (Без молока) ===== */

.filter__input-milk:disabled+.filter__mark-circle {
  opacity: 0.3;
  cursor: default;
  border-color: #bdbdbd;

  &::before {
    content: none;
  }
}

/* DISABLED СОСТОЯНИЕ С ВЫБРАННЫМ КРУЖКОМ (Без молока) */
.filter__input-milk:disabled:checked+.filter__mark-circle {
  opacity: 0.3;
  cursor: default;
  border-color: #7859cf;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #7859cf;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
  }
}

.filter__input-milk:disabled~.filter__milk-label {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;

}

/* Отключаем focus для disabled элементов */
.filter__input-milk:disabled:focus+.filter__mark-circle {
  outline: none;
}

.filter__input-milk:disabled:hover+.filter__mark-circle,
.filter__input-milk:disabled:focus+.filter__mark-circle,
.filter__input-milk:disabled:active+.filter__mark-circle {
  border-color: #bdbdbd;

  &::before {
    content: none;
  }
}

.filter__input-milk:disabled:checked:hover+.filter__mark-circle,
.filter__input-milk:disabled:checked:focus+.filter__mark-circle,
.filter__input-milk:disabled:checked:active+.filter__mark-circle {
  border-color: #7859cf;
}

/* ===== БЛОК СТРАНЫ ПРОИЗРАСТАНИЯ ===== */
.filter__country {
padding: 0;
}

.filter__country-list {
  padding: 0 0 0 52px;
}

/* ===== КАСТОМНЫЕ ПЕРЕКЛЮЧАТЕЛИ (СТРАНЫ) ===== */
.filter__mark-toogle {
  display: block;
  position: absolute;
  left: -52px;
  width: 42px;
  height: 24px;
  background-color: #bdbdbd;
  border-radius: 20px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 8%;
    left: 2px;
    background-color: #ffffff;
    border-radius: 50px;
  }
}

/* Активное состояние переключателя */
.filter__input-country:checked+.filter__mark-toogle {
  background-color: #7859cf;

  &::before {
    left: 20px;
  }
}

/* Hover состояние переключателя */
.filter__input-country:hover+.filter__mark-toogle {
  box-sizing: border-box;
  background-color: rgba(120, 89, 207, 0.25);
  border: 2px solid #9070ec;

  &::before {
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
}

.filter__input-country:checked:hover+.filter__mark-toogle {
  background-color: rgba(120, 89, 207, 0.25);
  border: 2px solid #9070ec;

  &::before {
    top: 0;
    left: 18px;
    background-color: #ffffff;
  }
}

/* ===== DISABLED СОСТОЯНИЕ ПЕРЕКЛЮЧАТЕЛЕЙ (Перу) ===== */


.filter__input-country:disabled+.filter__mark-toogle {
  opacity: 0.3;
  cursor: default;
  background-color: #bdbdbd;
  border: none;

  &::before {
    background-color: #f8f8f8;
  }
}

.filter__input-country:checked:disabled+.filter__mark-toogle {
  background-color: #7859cf;
  opacity: 0.3;

  &::before {
    left: 20px;
    background-color: #333333;
  }
}

.filter__input-country:disabled~.filter__country-label {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;

}

.filter__input-country:disabled:focus+.filter__mark-toogle {
  outline: none;
}

/* Для выключенного disabled состояния */
.filter__input-country:disabled:not(:checked):hover+.filter__mark-toogle,
.filter__input-country:disabled:not(:checked):focus+.filter__mark-toogle,
.filter__input-country:disabled:not(:checked):active+.filter__mark-toogle {
  background-color: #bdbdbd;
  border: none;

  &::before {
    background-color: #f8f8f8;
    top: 2px;
    left: 2px;
  }
}

/* Для включенного disabled состояния */
.filter__input-country:checked:disabled:hover+.filter__mark-toogle,
.filter__input-country:checked:disabled:focus+.filter__mark-toogle,
.filter__input-country:checked:disabled:active+.filter__mark-toogle {
  background-color: #7859cf;
  border: none;

  &::before {
    top: 2px;
    left: 20px;
    background-color: #333333;
  }
}

/* ===== КНОПКИ ФОРМЫ ===== */
.filter__submit-button {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #7859cf;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  padding: 8px 91px;
  cursor: pointer;
  margin-bottom: 20px;

  &:focus,
  &:hover {
    background-color: #9070ec;
  }

  &:active {
    background-color: #593cac;
  }

  &:disabled {
    background-color: #bdbdbd;
    cursor: default;
  }

  @media (min-width: $tablet-width) {
    width: 222px;
    padding: 8px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
    padding: 8px 30px;
    margin: 0;
  }
}

.filter__reset-button {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7859cf;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  padding: 8px 100px;
  cursor: pointer;

  &:hover {
    background-color: #9070ec;
    color: #ffffff;
  }

  &:focus {
    background-color: #9070ec;
    color: #ffffff;
  }

  &:active {
    background-color: #593cac;
    color: #ffffff;
  }

  &:disabled {
    background-color: #e2e2e2;
    color: #ffffff;
    cursor: default;
  }

  @media (min-width: $tablet-width) {
    width: 222px;
    padding: 8px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
    padding: 8px 30px;
    margin: 0;
  }
}