.footer__container {
  max-width: 1360px;
  margin: 0 auto;
  width: calc(100% - 40px);

  @media (min-width: $tablet-width) {
    width: calc(100% - 40px);
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 80px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
  }
}

.footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    padding: 40px 0 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: start;
  }
}

.footer__logo .logo__text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

// Общие стили для разделительных линий
.footer__navigation,
.footer-navigation__item {
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    border-top: 1px solid #f0ebff;
    pointer-events: none;
  }
}

.footer__navigation {
  position: relative;
  width: 100%;

  &::after {
    top: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    grid-column: span 3;
    padding-top: 50px;
  }
}

.footer-navigation__item {
  @media (max-width: $mobile-width-only) {
    padding: 20px 0 10px;
    width: 100%;
    position: relative;

    &::after {
      bottom: 0;
    }
  }
}

.footer-navigation__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #7859cf;
  letter-spacing: 0.02em;
  padding-bottom: 20px;
}

.footer-navigation-list__item {
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #333333;
  padding-bottom: 20px;
}

.footer-navigation__contacts-list {
  font-weight: 400;
}

// Общие стили для контактных элементов
.footer-navigation__item-address,
.footer-navigation__item-phone {
  position: relative;
  padding: 0;
}

.footer-navigation__item-phone {
  padding-top: 16px;
  padding-bottom: 10px;
}

// Общие стили для иконок
.footer-navigation__address,
.footer-navigation__link-phone {
  margin: 0;
  padding-left: 19px;

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-color: #7859cf;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
  }
}

.footer-navigation__address::after {
  top: 0;
  left: -2px;
  mask-image: url("../../icons/icon-address.svg");
}

.footer-navigation__link-phone::after {
  top: 50%;
  left: -2px;
  transform: translateY(-50%);
  mask-image: url("../../icons/icon-phone.svg");
}

.footer__copyright {
  position: relative;
  padding: 20px 0 30px 37px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: start;
  color: #bdbdbd;

  @media (min-width: $tablet-width) {
    padding: 30px 0 40px 37px;
  }

  @media (min-width: $desktop-width) {
    grid-column: span 4;
    padding: 20px;
  }
}

.footer__copyright-link span {
  padding: 0;

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 20px;
    right: 35px;
    background-color: #bdbdbd;
    background-repeat: no-repeat;
    background-position: center center;
    mask-image: url("../../icons/icon-html-academy.svg");
    background-size: 16px 16px;
  }
}
