.main-nav {
  @media (min-width: $tablet-width) {
    font-family: $primary-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.main-nav__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: $primary-font;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-right: 162px;
  }
}

.main-nav__list li:not(:last-child) {
  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.main-nav__list--closed {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.main-nav__list-user {
  display: flex;
  list-style: none;
  margin: 0;
  margin-right: 0;
}

.main-nav__link {
  border: none;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: #333333;
  letter-spacing: inherit;
  padding: 32px 20px;
}

.main-nav__link span {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.main-nav__link--current {
  @media (min-width: $tablet-width) {
    color: #7859cf;
    border-bottom: 2px solid #7859cf;
    padding-bottom: 30px;
  }
}

.main-nav__link-user,
.main-nav__link-basket {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px;

  @media (min-width: $desktop-width) {
    padding: 32px 20px;
  }

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    background: #333333;
    background-repeat: no-repeat;
    background-position: center center;
    flex-shrink: 0;

    @media (min-width: $desktop-width) {
      margin-right: 8px;
    }
  }
}

.main-nav__link-user {
  @media (min-width: $desktop-width) {
    margin-right: 20px;

  }
}

.main-nav__link-user::before {
  mask-image: url("../../icons/user.svg");
  -webkit-mask-image: url("../../icons/user.svg");
}

.main-nav__link-basket::before {
  mask-image: url("../../icons/basket.svg");
  -webkit-mask-image: url("../../icons/basket.svg");
}

.main-nav__toggle {
  padding: 30px;
  margin-right: -20px;
  border: none;
  position: relative;
  cursor: pointer;
  display: block;
  text-decoration: none;
  background-color: #ffffff;
  color: inherit;
  letter-spacing: inherit;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #444444;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &--closed::before {
    mask-image: url("../../icons/burger.svg");
  }

  &--opened::before {
    mask-image: url("../../icons/cross-close.svg");
  }

  &--closed:active,
  &--opened:active {
    background-color: #f0ebff;
  }
}