.slide-price {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 16px;
  line-height: 32px;
}

.slide-price__old-value {
  color: #7859cf;
  text-decoration: line-through;
}

.slide-price__current-value {
  font-size: 20px;
  font-weight: 600;
}
